.main {
  display: flex;
  gap: 3rem;
  margin-top: 4rem;
}
.picture {
  height: 25rem;
  width: 38rem;
  border-radius: 16px;
}
.test {
  display: flex;
  gap: 2.5rem;
  margin-top: 3rem;
}
.test_one {
  display: flex;
  gap: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
