.Navbar_main {
  border: red solid 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pic {
  height: 8rem;
}
.Navbar_left {
  border: blue solid 2px;
  display: flex;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
}
.Navbar_right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn {
  height: 3rem;
  width: 14rem;
  border-radius: 1rem;
  font-weight: 1000;
  font-size: medium;
  cursor: pointer;
}
.btn_right {
  width: 3rem;
}
