.main {
  border: 2px solid red;
  background-color: black;
  height: 100rem;
}
.form {
  display: flex;
  background-color: whitesmoke;
  height: 50rem;
  margin: 4rem 3rem 15rem 3rem;
  gap: 1rem;
  padding-top: 3rem;
  border-radius: 15px;
}
.dis {
  font-size: xx-large;
}
.ready {
  color: whitesmoke;
  font-size: 3rem;
  margin-left: 30rem;
  margin-top: 3rem;
}
.white_logo {
  height: 13rem;
}
.white_top {
  display: flex;
  align-items: center;
  gap: 15rem;
}
.white {
  color: whitesmoke;
  cursor: pointer;
  text-decoration: underline;
}

.btn {
  height: 4rem;
  width: 15rem;
  border-radius: 1.5rem;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 2rem;
  font-size: large;
}
